# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Curso de POO - Java/Aula_7/nbproject/private/
/Aula_5_Exercicio_Banco/build/
/Aula_5_Exercicio_Banco/nbproject/private/
/Curso de POO - Java/Aula_1/nbproject/private/
/Curso de POO - Java/Aula_2/nbproject/private/
/Curso de POO - Java/Aula_3/build/
/Curso de POO - Java/Aula_3/nbproject/private/
/Curso de POO - Java/Aula_4/build/
/Curso de POO - Java/Aula_4/nbproject/private/
/Curso de POO - Java/Aula_5_Exercicio_Banco/build/
/Curso de POO - Java/Aula_5_Exercicio_Banco/nbproject/private/
/Curso de POO - Java/Aula_6/nbproject/private/
/Curso de POO - Java/Aula_7/build/